<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/datos/cuzco.png');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-6 mr-auto ml-auto">
                      <div class="card card-train">
                          <h3 class="title">Agrega un archivo para el entrenamiento</h3>                          
                          <form class="register-form">
                            <input style="display: none" type="file" (change) = "onFileSelected($event)" #inputoculto>
                            <div class="row">
                                <div class="col-lg-3">
                                    <button (click) ="inputoculto.click()" class="btn btn-outline-danger btn-round">Subir archivo</button>
                                </div>
                                <!--aparece cuando fileSeleccionado sea diferente de null-->
                                <div class="col-sm-5 labelfile">
                                    <span class="">
                                        <i class="fa fa-file-text fa" ></i> {{fileSeleccionado.name}}
                                    </span>
                                </div>                              
                            </div>

                            <!---------------------BOTON ENTREMANIENTO-------------------------------->
                            <button *ngIf="state==0" class="btn btn-danger btn-center btn-round" (click)=Training()>Entrenar</button>
                                <!--aparece cuando le dio click al boton de entrenamiento-->
                            <div class="d-flex justify-content-center" >
                                <img *ngIf="state==1" src="./assets/img/datos/llamatraining.gif" alt="Rounded Image" class="img-rounded img-responsive" style="width: 70%">
                                <img *ngIf="state==2" src="./assets/img/datos/trainingllama2.gif" alt="Rounded Image" class="img-rounded img-responsive" style="width: 70%">
                            
                            </div>
                            <a *ngIf="state==2" routerLink="../predict" class="btn btn-danger btn-siguiente btn-round" >Predecir</a>
                            <!--------------------TABLE--------------------->   
                            
                          </form>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
