<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/datos/admision1.jfif');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Willac Umu</h1>
            <h3>
                Willac Umu es un sistema predictivo diseñado para colegios, con el que pueden predecir si sus alumnos 
                alcanzarán una vacante en la universidad basándose en sus notas actuales. Para ello, Willac Umu hace uso 
                de Machine Learning y redes neuronales, las cuales deben ser propiamente entrenadas por medio de un conjunto 
                de datos brindado por cada colegio. ¡Entrena tu red ahora y comienza a obtener tus predicciones ya!
            </h3>
            <br />
            <a routerLink="../training" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Entrenar</a>
            <button routerLink="../predict" type="button" class="btn btn-outline-neutral btn-round"><i class="fa fa-question"></i>Predecir</button>
        </div>
    </div>
</div>

