<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/datos/admision1.jfif');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Willac Umu</h1>
            <h3>Aqi haremos una breve descripcion de lo que hace la alplicacion, espero qeu alcance todo el texto largo, esto es una prueba.</h3>
            <br />
            <a routerLink="../training" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Entrenar</a>
            <button routerLink="../predict" type="button" class="btn btn-outline-neutral btn-round"><i class="fa fa-question"></i>Predecir</button>
        </div>
    </div>
</div>

